/* Efecto de un pulso que se expandes antes del mostrar todo el menu */
@keyframes pulse{
    from{
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.6);
    }
    to {
        box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
        background: rgba(255, 255, 255, 0);
    }
}

/* animacion de apertura para el menu burger */
/* TOP */
@keyframes openTop{
    0%{
        transform: translateY(-5px)
        rotate(0deg);
    }
    50%{
        transform: translateY(0px)
        rotate(0deg);
    }
    100%{
        transform: translateY(0px)
        rotate(90deg);
    }
}

/* MID */
@keyframes openMid{
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

/* BTM */
@keyframes openBtm{
    0%{
        transform: translateY(5px)
        rotate(0deg);
    }
    50%{
        transform: translateY(0px)
        rotate(0deg);
    }
    100%{
        transform: translateY(0px)
        rotate(90deg);
    }
}