.footer{
    margin: 30px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-flow: column;
    .footer-copy{
        padding: 10px;
        font-size: 13px;
        line-height: 28px;
    }
    .footer-social{
        a{
            text-decoration: none;
            color: inherit;
        }
        i{
            padding: 10px;
            margin-right: 8px;
            line-height: 28px;
        }
    }
}