.footer{
    margin: 30px;
    display: flex;
/*     flex-flow: row nowrap;
    align-content: center;
    justify-content: center; */
    justify-content: space-evenly;
    flex-flow: column;
    .footer-copy{
        padding: 10px;
        font-size: 16px;
        line-height: 28px;
    }
    .footer-social{
        a{
            text-decoration: none;
            color: inherit;
        }
        i{
            padding: 10px;
            margin-right: 16px;
            line-height: 28px;
        }
    }
}