/* Tablet */
@media screen and (min-width: 768px) {
    
    /* Adaptacion del Botón */
    .btn{
        padding: 15px 7%;
    }

    /* header */
    .header{
        justify-content: space-between;
        padding: 0 10vw;
        .nav-links{
            align-items: center;
            height: 100vh;
        }
    }

    /* Main */
    .main{

        /* Description */
        .description{
            margin: 6vw 4vh 3rem 6rem;
            .description-text{
                h1{
                    max-width: 470px;
                }
                p{
                    max-width: 475px;
                }
            }
            .btn-align-description{
                margin: 0px 0px 6rem 1vh;
                text-align: inherit;
            }
        }

        /* Episodes */
        .episodes{
            height: 830px;
            .episodes-iframes{
                height: 550px;
                /* flex-flow: row wrap; */
                justify-content: space-around;
            }
        }

        /* News */
        .news{
            height: 280px;
        }
    }

    /* Footer */
    .footer{
        flex-flow: row nowrap;
        align-content: center;
        justify-content: center;
        justify-content: space-around;
    }
}
/* Laptop */
@media screen and (min-width: 1024px){

    /* header */
    .header{
        color: $font-color-black;
        transition: unset;

        .menu-icon, .menu-btn{
            display: none;
        }
        .nav-links{
            top: unset;
            left: unset;
            opacity: 1;
            display: contents;
            padding: unset;
            width: unset;
            height: unset;
            font-size: unset;
            color: unset;
            background: unset;
            transition: unset;
            clip-path: unset;
            margin-left: 0;
            .nav-link{
                opacity: 1;
                transform: translateX(0%);
                text-align: unset;
                transition: unset;
                display: contents;
                a{
                    display: unset;
                    margin: .2rem;
                    padding: 1rem .5rem;
                }
                a:hover{
                    color: $font-color-aqua;
                    text-decoration: line-through;
                }
                &:active {
                    color: rgba(6 ,10 ,36 , 0.56);
                    text-decoration: line-through;
                }
            }
        }
    }

    /* Episodes */
    .episodes{
        height: 1042px;
        h2{
            font-size: 48px;
            margin: 6vw 4vh 3rem 15rem;
        }
        .episodes-iframes{
            width: auto;
            height: 670px;
            margin: auto;   
            .iframes{
                width: 584px;
            }
        }
    }

    /* Stellar */
    .stellar{
        h2{
            margin: 6vw 4vh 3rem 15rem;
            font-size: 48px;
        }
        .stellar-images{
            width: auto;
            margin: auto;
            div img{
                width: 346px;
                height: 300px;
            }
        }
    }

    /* Footer */
    .footer{
        justify-content: space-between;
    }
}

/* Laptop L */
@media screen and (min-width: 1440px){

    /* Main */
    .main{

        /* Description */
        .description{
            .description-text{
                margin: 6vw 4vh 3rem 9rem;
                h1{
                    max-width: fit-content;
                    font-size: 64px;
                    .dot{
                        color: $font-color-blue;
                    }
                } 
            }
            .btn-align-description{
                margin: 0px 0px 6rem 15vh;
            }
        }

        /* Episodes */
        .episodes{
            height: 1042px;
            h2{
                font-size: 48px;
                margin: 6vw 4vh 3rem 15rem;
            }
            .episodes-iframes{
                width: auto;
                height: 670px;
                margin: auto;   
                .iframes{
                    width: 584px;
                }
            }
        }
        

        /* where */
        .where{
            .where-phone{
                img{
                    margin-top: -195px;
                    width: 457.6px;
                    height: 715px;
                }
            }
            .where-text{
                /* verificar que tanto afecta la separacion de la imagen */
                margin: 3vw 0vh 7rem -11rem;
                div{
                    h2{
                        font-size: 48px;
                    }
                }
            }
        }

        /* Stellar */
        .stellar{
            h2{
                font-size: 48px;
                margin: 6vw 4vh 3rem 15rem;
            }
            .stellar-images{
    
                div img{
                    margin: -3px;
                    width: 482px;
                    height: 385px;
                }
            }
        }

        /* Themes */
        .themes{
            h2{
                margin: 6vw 4vh 3rem 15rem;
                font-size: 48px;
            }
            .themes-images{
                flex-flow: row nowrap;
            }
        }

        /* News */
        .news{
            height: 518px;
            .news-align-text{
                margin: 15rem 0 4rem 0vh;
                h2{
                    font-size: 48px;
                }
            }
        }
    }
}