@charset "UTF-8";
/* all body */
/* header */
/* Estilos generales para la página */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}

/* Estilos generales para los iframes */
iframe {
  width: 100%;
  height: 232px;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

/* Estilo general para los botones */
.btn {
  width: 100%;
  height: 56px;
  background: #00F3BB;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17px 27%;
  font-weight: 700;
  overflow: hidden;
}

.btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(to left, #0000FE, #00F0B8);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: #ffffff;
  z-index: 1;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .nav-links .nav-link {
  -webkit-transition: opacity 0.4 ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4 ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4 ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4 ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header .nav-links .nav-link:nth-of-type(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.header .nav-links .nav-link:nth-of-type(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.header .nav-links .nav-link:nth-of-type(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.header .nav-links .nav-link a {
  margin: .2rem;
  padding: 1rem .5rem;
}

.header .nav-links .nav-link a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.header .menu-icon-line {
  display: block;
  position: relative;
  background: #000000;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.header .menu-icon-line::before, .header .menu-icon-line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #000000;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.header .menu-icon-line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header .menu-icon-line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header .menu-btn {
  position: absolute;
  top: -100px;
}

.header .menu-btn:focus ~ .menu-icon .menu-icon-line::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.header .menu-btn:focus ~ .menu-icon .menu-icon-line::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.header .menu-icon {
  display: block;
}

.header .nav-links {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  color: #ffffff;
  background: #0000EC;
  -webkit-transition: opacity .8s .5s, -webkit-clip-path 1s .5s;
  transition: opacity .8s .5s, -webkit-clip-path 1s .5s;
  transition: opacity .8s .5s, clip-path 1s .5s;
  transition: opacity .8s .5s, clip-path 1s .5s, -webkit-clip-path 1s .5s;
  -webkit-clip-path: circle(200px at top right);
          clip-path: circle(200px at top right);
}

.header .nav-links .nav-link {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  text-align: center;
}

.header .nav-links .nav-link a {
  display: block;
  padding: 2rem 0;
}

.header .menu-btn:checked ~ .nav-links {
  opacity: 1;
  -webkit-clip-path: circle(100% at center);
          clip-path: circle(100% at center);
}

.header .menu-btn:checked ~ .nav-links .nav-link {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.4s ease-in-out 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  transition: opacity 0.4s ease-in-out 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  transition: opacity 0.4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  transition: opacity 0.4s ease-in-out 1s, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

.header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.header .menu-btn:checked ~ .menu-icon {
  border-radius: 50%;
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.header .menu-btn:checked ~ .menu-icon .menu-icon-line {
  background: #ffffff;
  -webkit-animation: openMid 0.8s forwards;
          animation: openMid 0.8s forwards;
}

.header .menu-btn:checked ~ .menu-icon .menu-icon-line::before {
  background: #ffffff;
  -webkit-animation: openTop 0.8s forwards;
          animation: openTop 0.8s forwards;
}

.header .menu-btn:checked ~ .menu-icon .menu-icon-line::after {
  background: #ffffff;
  -webkit-animation: openBtm 0.8s forwards;
          animation: openBtm 0.8s forwards;
}

/* Efecto de un pulso que se expandes antes del mostrar todo el menu */
@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

/* animacion de apertura para el menu burger */
/* TOP */
@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

/* MID */
@-webkit-keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

/* BTM */
@-webkit-keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}
@keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

/* Main */
.main {
  /* Description */
  /* Episodes */
  /* Where */
  /* Stellar */
  /* Themes */
  /* News */
}

.main .description {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .description .description-text {
  width: 100%;
  margin: 6vw 4vh 3rem 1rem;
}

.main .description .description-text h1 {
  font-size: 38px;
  max-width: 320px;
  margin-left: 0;
}

.main .description .description-text h1 .world {
  text-decoration: line-through;
}

.main .description .description-text h1 .dot {
  color: #000000;
}

.main .description .description-text p {
  max-width: 331px;
  margin-top: 20px;
  font-size: 15px;
  line-height: 21px;
}

.main .description .btn-align-description {
  margin: 0px 0px 6rem 0vh;
  text-align: center;
  width: 100%;
}

.main .episodes {
  position: relative;
  height: 1260px;
  z-index: 0;
}

.main .episodes .svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.main .episodes h2 {
  position: relative;
  color: #ffffff;
  font-size: 36px;
  margin: 6vw 4vh 3rem 1rem;
  padding-top: 30px;
  font-weight: 400;
}

.main .episodes .episodes-iframes {
  width: auto;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  align-items: center;
}

.main .episodes .episodes-iframes .iframes {
  width: 330px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .where {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
}

.main .where .where-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .where .where-phone img {
  margin-top: -110px;
  width: 360px;
  z-index: 1;
}

.main .where .where-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 6vw 4vh 3rem 1rem;
}

.main .where .where-text div h2 {
  font-size: 36px;
}

.main .where .where-text div p {
  max-width: 331px;
  margin-top: 20px;
  font-size: 15px;
  line-height: 21px;
}

.main .stellar h2 {
  font-size: 36px;
  margin: 6vw 4vh 3rem 1rem;
  padding-top: 30px;
  font-weight: 400;
}

.main .stellar .stellar-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .stellar .stellar-images div img {
  width: 375px;
  margin: -3px;
}

.main .themes h2 {
  font-size: 36px;
  margin: 6vw 4vh 3rem 1rem;
  padding-top: 30px;
  font-weight: 400;
}

.main .themes .themes-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .themes .themes-images div {
  text-align: center;
  height: 250px;
  width: 100%;
}

.main .themes .themes-images div img {
  padding-bottom: 20px;
}

.main .themes .themes-images div p {
  max-width: 305px;
  margin: auto;
  font-size: 24px;
  font-weight: 700;
}

.main .news {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.main .news .news-svg-last {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.main .news .news-align-text {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6rem 0 4rem 0vh;
}

.main .news .news-align-text h2 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 400;
}

.main .news .news-align-btn {
  position: relative;
  text-align: center;
}

.main .news .news-align-btn .btn {
  padding: 13px 33px;
}

.footer {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*     flex-flow: row nowrap;
    align-content: center;
    justify-content: center; */
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.footer .footer-copy {
  padding: 10px;
  font-size: 16px;
  line-height: 28px;
}

.footer .footer-social a {
  text-decoration: none;
  color: inherit;
}

.footer .footer-social i {
  padding: 10px;
  margin-right: 16px;
  line-height: 28px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  /* Adaptacion del Botón */
  .btn {
    padding: 15px 7%;
  }
  /* Main */
  .main {
    /* Description */
    /* Episodes */
    /* News */
  }
  .main .description {
    margin: 6vw 4vh 3rem 6rem;
  }
  .main .description .description-text h1 {
    max-width: 470px;
  }
  .main .description .description-text p {
    max-width: 475px;
  }
  .main .description .btn-align-description {
    margin: 0px 0px 6rem 1vh;
    text-align: inherit;
  }
  .main .episodes {
    height: 830px;
  }
  .main .episodes .episodes-iframes {
    height: 550px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .news {
    height: 280px;
  }
  /* Footer */
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* Escritorio */
@media screen and (min-width: 1024px) {
  /* header */
  .header {
    color: #000000;
    -webkit-transition: unset;
    transition: unset;
    width: 80vw;
  }
  .header .menu-icon {
    display: none;
  }
  .header .nav-links {
    top: unset;
    left: unset;
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: unset;
    width: unset;
    height: unset;
    font-size: unset;
    color: unset;
    background: unset;
    -webkit-transition: unset;
    transition: unset;
    -webkit-clip-path: unset;
            clip-path: unset;
    margin-left: 0;
  }
  .header .nav-links .nav-link {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    text-align: unset;
    -webkit-transition: unset;
    transition: unset;
  }
  .header .nav-links .nav-link a {
    display: unset;
    margin: .2rem;
    padding: 1rem .5rem;
  }
  .header .nav-links .nav-link a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .header .nav-links .nav-link:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  /* Main */
  .main {
    /* Description */
    /* Episodes */
    /* where */
    /* Stellar */
    /* Themes */
    /* News */
  }
  .main .description .description-text {
    margin: 6vw 4vh 3rem 9rem;
  }
  .main .description .description-text h1 {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-size: 64px;
  }
  .main .description .description-text h1 .dot {
    color: #0000EC;
  }
  .main .description .btn-align-description {
    margin: 0px 0px 6rem 15vh;
  }
  .main .episodes {
    height: 1042px;
  }
  .main .episodes h2 {
    font-size: 48px;
    margin: 6vw 4vh 3rem 15rem;
  }
  .main .episodes .episodes-iframes {
    width: 1440px;
    height: 670px;
    margin: auto;
  }
  .main .episodes .episodes-iframes .iframes {
    width: 584px;
  }
  .main .where .where-phone img {
    margin-top: -195px;
    width: 457.6px;
    height: 715px;
  }
  .main .where .where-text {
    /* verificar que tanto afecta la separacion de la imagen */
    margin: 3vw 0vh 7rem -29rem;
  }
  .main .where .where-text div h2 {
    font-size: 48px;
  }
  .main .stellar h2 {
    margin: 6vw 4vh 3rem 15rem;
    font-size: 48px;
  }
  .main .stellar .stellar-images {
    width: 1440px;
    margin: auto;
  }
  .main .stellar .stellar-images div img {
    width: 480px;
    height: 364px;
  }
  .main .themes h2 {
    margin: 6vw 4vh 3rem 15rem;
    font-size: 48px;
  }
  .main .themes .themes-images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .main .news {
    height: 518px;
  }
  .main .news .news-align-text {
    margin: 15rem 0 4rem 0vh;
  }
  .main .news .news-align-text h2 {
    font-size: 48px;
  }
  /* Footer */
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */