/* all body */
/* header */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}

.header {
  /* position: fixed; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: #000000;
  z-index: 1;
}

.header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .nav-links .nav-link a {
  margin: .2rem;
  padding: 1rem .5rem;
}

.header .nav-links .nav-link a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.header .menu-icon-line {
  display: block;
  position: relative;
  background: #060A24;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}

.header .menu-icon-line::before, .header .menu-icon-line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #060A24;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.header .menu-icon-line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header .menu-icon-line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header .menu-btn {
  display: none;
}

/* botones */
.btn {
  width: 100%;
  height: 56px;
  background: #00F3BB;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 33px;
  font-weight: 700;
  overflow: hidden;
}

.btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(to left, #0000FE, #00F0B8);
}

iframe {
  width: 100%;
  height: 232px;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

main {
  /* description */
  /* Episodes */
  /* where we come from */
  /* stellar */
  /* Themes */
  /* news */
}

main .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .description .description-text {
  width: 35%;
  margin: 7vw 18vh 3rem;
}

main .description .description-text h1 {
  font-size: 41px;
  margin-bottom: 10px;
  margin-left: 3px;
}

main .description .description-text h1 .world {
  text-decoration: line-through;
}

main .description .description-text h1 .dot {
  color: #0000EC;
}

main .description .description-text p {
  max-width: 537px;
  font-size: 14px;
}

main .description .btn-align-description {
  margin: 0px 0px 4rem 18vh;
}

main .episodes {
  position: relative;
  height: 1000px;
  z-index: 0;
}

main .episodes .svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

main .episodes h2 {
  position: relative;
  color: #ffffff;
  font-size: 41px;
  margin: 5rem 101rem  3rem 18vh;
  padding-top: 30px;
}

main .episodes .episodes-iframes {
  width: 100%;
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .episodes .episodes-iframes .iframes {
  position: relative;
  overflow: hidden;
  width: 600px;
}

main .where {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
}

main .where .where-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .where .where-phone img {
  margin-top: -220px;
  z-index: 1;
}

main .where .where-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .where .where-text div h2 {
  font-size: 41px;
}

main .where .where-text div p {
  max-width: 500px;
}

main .stellar h2 {
  font-size: 41px;
  margin: 5rem 73rem 3rem 18vh;
}

main .stellar .stellar-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .stellar .stellar-images div img {
  width: 500px;
}

main .themes h2 {
  font-size: 41px;
  margin: 5rem 69rem 3rem 18vh;
}

main .themes .themes-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .themes .themes-images div {
  text-align: center;
  height: 250px;
  width: 250px;
}

main .themes .themes-images div img {
  padding-bottom: 20px;
}

main .themes .themes-images div p {
  max-width: 180px;
  margin: auto;
  font-size: 18px;
  font-weight: 700;
}

main .news {
  position: relative;
  height: 500px;
  overflow: hidden;
}

main .news .news-svg-last {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

main .news .news-align-text {
  position: relative;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin: 14rem 0 3rem 0vh;
}

main .news .news-align-btn {
  position: relative;
  text-align: center;
}

.footer {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*     flex-flow: row nowrap;
    align-content: center;
    justify-content: center; */
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer-copy {
  padding: 10px;
  font-size: 16px;
  line-height: 28px;
}

.footer .footer-social a {
  text-decoration: none;
  color: inherit;
}

.footer .footer-social i {
  padding: 10px;
  line-height: 28px;
}

/* Mobile */
@media screen and (max-width: 600px) {
  /* header */
  .header .menu-icon {
    display: block;
  }
  .header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 46vh;
    font-size: 2rem;
    color: #ffffff;
    background: #0000EC;
    -webkit-transition: opacity .8s .2s;
    transition: opacity .8s .2s;
    -webkit-clip-path: 1s .5s;
            clip-path: 1s .5s;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
  }
  .header .nav-links .nav-link {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    text-align: center;
  }
  .header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }
  .header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s ease-in-out, -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .header .menu-btn:checked ~ .nav-links .nav-link:nth-last-of-type(1) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  .header .menu-btn:checked ~ .nav-links .nav-link:nth-last-of-type(2) {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
  }
  .header .menu-btn:checked ~ .nav-links .nav-link:nth-last-of-type(3) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  .header .menu-btn:checked ~ .nav-links .nav-link:nth-last-of-type(4) {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .header .menu-btn:checked ~ .menu-icon .menu-icon-line {
    background: #ffffff;
  }
  .header .menu-btn:checked ~ .menu-icon .menu-icon-line::before {
    background: #ffffff;
  }
  .header .menu-btn:checked ~ .menu-icon .menu-icon-line::after {
    background: #ffffff;
  }
  /* main */
  .btn {
    padding: 20px 27%;
  }
  .main .description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .description .description-text {
    width: 100%;
    margin: 6vw 4vh 3rem 4rem;
  }
  .main .description .description-text h1 {
    font-size: 41px;
    max-width: 346px;
    margin-left: 0;
  }
  .main .description .description-text h1 .dot {
    color: #000000;
  }
  .main .description .description-text p {
    max-width: 360px;
  }
  .main .description .btn-align-description {
    margin: 0px 0px 6rem 0vh;
    text-align: center;
    width: 100%;
  }
  .main .episodes {
    height: 1200px;
  }
  .main .episodes h2 {
    margin: 6vw 4vh 3rem 4rem;
  }
  .main .episodes .episodes-iframes {
    width: 100%;
    height: 970px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .episodes .episodes-iframes .iframes {
    position: relative;
    width: 400px;
  }
}

/* Tablets */
/* @media screen and (width-max: 800px){

} */
/*# sourceMappingURL=style.css.map */